.dropdown_default2{
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  background: #4a7eab;
  border: 1px solid #b1b1b1;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.dropdown_block2{
  display: table;
}

.dropdown_title2{
  display: table-cell;
  width: 100%;
  text-align: left;
  vertical-align: middle;
  padding: 10px;
  font-size: 13px;
  color: #ffffff;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.dropdown_down_img{
  display: table-cell;
  width: 25px;
  min-width: 25px;
  max-width: 25px;
  padding-bottom: 4px;
  text-align: center;
  vertical-align: middle;
}

.dropdown_down_img > .fa{
  font-size: 13px;
  color: #ffffff;
}

.dropdown_default2_list{
  position: absolute;
  /* background: #6c9ac1; */
  background: #416f96;
  width: 100%;
  /* border: 1px solid #507ea7; */
  /* margin-left: -1px; */
  box-shadow: 0 0px 6px 0px #4a7eab;
  z-index: 2;
}

.dropdown_default2_list_ul{
  display: block;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.dropdown_default2_list_hide{
  display: none;
}

.dropdown_default2_list_show{
  display: block;
}

.dropdown_default2_option{
  display: block;
  width: 100%;
  font-size: 13px;
  padding: 10px;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid #507ea7;
  text-align: left;
  box-sizing: border-box;
}

.dropdown_default2_option:hover{
  background: rgba(255, 255, 255, 0.14);
}

.drop_focus_element,.drop_focus_element:hover{
  background: rgba(74, 126, 171, 0.36)!important;
}
