.lcp_phone_default2{
    padding-left: 25px;
}

.text_default_block>.phone_code{
    display: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    height: 8px;
    left: 10px;
    font-size: 13px;
}