.toggle_default_all{
cursor: pointer;
}

.toggle_default_div{
  display: inline-block;
  position: relative;
  border: 1px solid #a9a9a9;
  width: 40px;
  height: 20px;
  overflow: hidden;
  border-radius: 13px;
  transition: all 0.5s;
  vertical-align: middle;
}

.toggle_default_div_left{
  background: #d4d4d4;
}

.toggle_default_div_right{
  background: #4a7eab;
}

.toggle_default{
  position: absolute;
  background: #ffffff;
  width: 18px;
  height: 18px;
  border-radius: 16px;
  border: 1px solid #a7a7a7;
  box-shadow: 0px 0px 4px 0px #4a7eab;
  right: 0px;
}

.notoggle_default{
  position: absolute;
  background: #ffffff;
  width: 18px;
  height: 18px;
  border-radius: 16px;
  border: 1px solid #a7a7a7;
  box-shadow: 0px 0px 4px 0px #4a7eab;
  left: 0px;
}

.toggle_default_label{
  display: inline-block;
  color: #4a7eab;
  vertical-align: middle;
}
