.lcp_html_parent_article{

}

.lcp_html_parent_article .lcp_html_navigation_span{
  font-weight: normal;
  font-size: 14px;
  color: #867063;
}

.lcp_html_parent_article .lcp_html_navigation_span_a{
  color: #4a7eab;
  font-weight: normal;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

.lcp_html_parent_article .lcp_button_products_navigation{
  display: inline-block;
  color: #fff;
  background-color: #a01600;
  border-color: #150300;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 7px 12px;
  font-size: 13px;
  line-height: 1.5384616;
  border-radius: 3px;
}

.lcp_html_parent_article_button{
  margin-top: 10px;
}

.lcp_html_parent_object_shop{

}

.lcp_html_parent_object_nav{
  margin-top: 10px;
}
