.block_drop{
margin-bottom: 10px;
}

.block_drop_visible_false{
  display: none;
}

.block_drop_title{
  color: #333333;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  border: 1px solid #a9a9a9;
  cursor: pointer;
}

.block_drop_title:hover{
  background: rgba(255, 255, 255, 0.3);
}

.block_drop_html{
  display: none;
  color: #333333;
  background: #e6e6e6;
  border-radius: 2px;
  padding: 20px 15px;
  border-left: 1px solid #a9a9a9;
  border-right: 1px solid #a9a9a9;
  border-bottom: 1px solid #a9a9a9;
}

.block_drop_html_active{
  display: block;
}
