.lcp_button_red2 {
    display: inline-block;
    color: #d82626;
    background-color: #ffffff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    font-size: 23px;
    border-radius: 8px;
    border: 1px solid #d82626;
    height: 40px;
    width: 40px;
    position: relative;
    line-height: 40px;
}
.lcp_button_red2:hover{
  color: #ffffff!important;
  background-color: #d82626!important;
  border: 1px solid #d82626!important;
}
