.lcp_button_plus{
  background: #4caf50;
  border-radius: 3px;
  width: 30px;
  display: inline-block;
  height: 30px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  padding: 0px;
  border: 1px solid #4CAF50;
}
