.table_default_block2{
  display: block;
  overflow: scroll;
}

.table_default2{
width: 100%;
}

.table_default2_tr{
}

.table_default2_tr>.table_default2_td{
  border-top: 1px solid rgba(74, 126, 171, 0.27058823529411763);
  border-left: 1px solid rgba(74, 126, 171, 0.27058823529411763);
}

.table_default2_tr>.table_default2_td:nth-child(1){
  border-left: none;
}

.table_default2_td{
padding: 12px 10px;
}

.table_default2_thead{
  font-weight: bold;
  font-size: 14px;
}

.table_default2_thead>.table_default2_td{
  border-top: none;
  border-bottom: 1px solid rgba(74, 126, 171, 0.79);
}

.table_default2_tbody{
  font-size: 14px;
}

.table_default2_tfoot{
  font-size: 14px;
}

.object_not{
  display: block;
  font-size: 14px;
  width: 100%;
  padding: 20px 10px;
  text-align: center;
  font-weight: bold;
}
