.spec_all{
  margin-top: 10px;
}

.spec_all_item{
  position: relative;
  display: inline-block;
  background: #ffffff;
  border: 1px solid #a9a9a9;
  border-radius: 10px;
  font-size: 12px;
  cursor: default;
  margin-top: 5px;
  margin-right: 2px;
  padding: 10px 17px 10px 10px;
}

.spec_all_delete{
  position: absolute;
  display: inline-block;
  top: 2px;
  right: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #8a8a8a;
  cursor: pointer;
}

.spec_all_group{
  margin-top: 20px;
  background: #cccccc;
  border: 1px solid rgba(74, 126, 171, 0.27058823529411763);
  padding: 10px;
  position: relative;
}

.spec_all_group_delete{
  position: absolute;
  display: inline-block;
  top: 2px;
  right: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #8a8a8a;
  cursor: pointer;
}

.parent_title{
  display: inline-block;
}

.group_title{
  font-size: 13px;
  color: #ffffff;
  background: #949494;
  padding: 5px 15px;
  position: absolute;
  top: -8px;
  left: 8px;
}
