.menu_left{
  width: 100%;
}

.menu_left_div ul{
  width:100%;
  margin: 0px;
  padding: 0px;
}

.menu_left_div ul li{
  display: block;
  cursor: pointer;
}

.menu_left_div ul li a{
  display: block;
  color: #dddddd;
  padding: 10px;
  text-decoration: none;
}

.menu_left_div ul li a:hover{
background: rgba(255, 255, 255, 0.04);
}

.menu_left_div ul li ul{
  background: #1f1d1d;
  display: none;
}

.menu_left_div ul li ul li a{
  padding-left: 20px;
}

.menu_left_ul{
}

.menu_left_ul_li_active{
  background: #656565;
}

.more_li{
  padding-right: 35px!important;
  position: relative;
  z-index: 2;
}

.right_img{
  background: url(/img/right.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  float: right;
  width: 11px;
  height: 11px;
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 15px;
  transform: rotate(0deg);
  z-index: 1;
  transition: all 0.3s;
}
