.block_one_line{

}

.block_one_line>.block_one_line_table{
  display: table;
  width: 100%;
}

.block_one_line>.block_one_line_table>.block_one_line_td{
  display: table-cell;
}





@media screen and (max-width: 800px) {
  .block_one_line>.block_one_line_table{
    display: block!important;
    width: 100%!important;
    min-width: 100%!important;
    max-width: 100%!important;
    text-align: left!important;
  }
  .block_one_line>.block_one_line_table>.block_one_line_td{
    display: block!important;
    width: 100%!important;
    min-width: 100%!important;
    max-width: 100%!important;
    text-align: left!important;
  }
}
