.lcp_html_navigation_recursion_span{
  font-weight: normal;
  font-size: 14px;
  color: #144f82;
}

.lcp_html_navigation_recursion_span_a{
  color: #144f82;
  font-weight: normal;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}
