.table_default_block{
  display: block;
  overflow: auto;
}

.table_default{
display: table;
width: 100%;
}

.table_default_tr{
display: table-row;
}

.table_default_tr>.table_default_td{
  border-top: 1px solid rgba(74, 126, 171, 0.27058823529411763);
}

.table_default_td{
display: table-cell;
padding: 12px 10px;
}

.table_default_thead{
  font-weight: bold;
  font-size: 14px;
}

.table_default_thead>.table_default_td{
  border-top: none;
  border-bottom: 1px solid rgba(74, 126, 171, 0.79);
}

.table_default_tbody{
  font-size: 14px;
}

.table_default_tfoot{
  font-size: 14px;
}

.object_not{
  display: block;
  font-size: 14px;
  width: 100%;
  padding: 20px 10px;
  text-align: center;
  font-weight: bold;
}





@media screen and (max-width: 800px) {
.table_default{
  /* overflow: auto; */
  display: block;
}
}
