.lcp_table_default_non_border2>.table_default_head_div>.table_default_tr>.table_default_td{
  border-bottom: none!important;
  border-top: none!important;
}
.lcp_table_default_non_border2>.table_default_body_div>.table_default_tr>.table_default_td{
  border-bottom: none!important;
  border-top: none!important;
}
