.ttotalpage1{
  display: block;
  margin: 0px;
  padding: 0px;
}

.ttotalpage1>a{
  display: inline-block;
  padding: 6px 10px;
  border: 1px solid #cccccc;
  margin-right: 5px;
  color: #333333;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  font-weight: normal;
}

.ttotalpage1>a:hover{
  background: rgba(0, 0, 0, 0.06);
}

/* .ttotalpage1>a>div{
  color: #333333;
  font-size: 19px;
  text-align: center;
} */

.ttotalpage1>.ttotalpagesel{
  background: #4a7eab!important;
  color: #ffffff!important;
}
