.lcp_button_red{
  display: inline-block;
  color: #fff;
  background-color: #d82626;
  border-color: #d82626;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 7px 12px;
  font-size: 13px;
  line-height: 1.5384616;
  border-radius: 3px;
  /* text-transform: uppercase; */
  /* margin-top: 20px; */
}
.lcp_button_red:hover{
  color: #ffffff!important;
  background-color: #d82626!important;
  border: 1px solid #d82626!important;
}
