.table_default_with_border>.table_default_head_div>.table_default_tr>.table_default_td{
  border-left: 1px solid rgba(74, 126, 171, 0.27058823529411763);
  min-width: none;
}
.table_default_with_border>.table_default_head_div>.table_default_tr>.table_default_td:first-child{
  border-left: none;
  min-width: none;
}

.table_default_with_border>.table_default_body_div>.table_default_tr>.table_default_td{
  border-left: 1px solid rgba(74, 126, 171, 0.27058823529411763);
  min-width: none;
}
.table_default_with_border>.table_default_body_div>.table_default_tr>.table_default_td:first-child{
  border-left: none;
  min-width: none;
}
