.lcp_button_green2 {
    display: inline-block;
    color: #049907;
    background-color: #ffffff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    font-size: 23px;
    border-radius: 8px;
    border: 1px solid #049907;
    height: 40px;
    width: 40px;
    position: relative;
    line-height: 40px;
}
.lcp_button_green2:hover{
  color: #ffffff!important;
  background-color: #54c159!important;
  border: 1px solid #54c159!important;
}
