.block_one_line_mobile{

}

.block_one_line_mobile>.block_one_line_mobile_table{
  display: table;
  width: 100%;
}

.block_one_line_mobile>.block_one_line_mobile_table>.block_one_line_mobile_td{
  display: table-cell;
}
