.body_scroll_loading{
overflow: hidden!important;
}

.loading_default_zatem{
  display: block;
  position: fixed;
  background: rgba(0, 0, 0, 0.5882352941176471);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 9995;
}

.loading_default{

}

.loading_default_block{
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 64px;
  height: 64px;
  margin: auto;
  z-index: 9996;
}

.loading_default_block_img{
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100px;
  height: 100px;
  margin: auto;
  z-index: 9996;
}

.loading_default_block>.fa{
  color: #ffffff;
  font-size: 64px;
  text-shadow: 1px 1px 1px #00a1ff;
}

.loading_default_block_title{
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 25px;
  height: 12px;
  margin: auto;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  text-shadow: 0px 0px 3px #ff9900;
}

.loading_default_block_title_footer{
  display: block;
  position: absolute;
  left: -38px;
  bottom: -15px;
  right: 0px;
  width: 155px;
  height: 12px;
  margin: auto;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  text-shadow: 0px 0px 3px #000000;
}

.loading_default_block_title_footer_img{
  display: block;
  position: absolute;
  left: -46px;
  bottom: -34px;
  right: 0px;
  width: 190px;
  height: 12px;
  margin: auto;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 0px 0px 3px #000000;
  white-space: nowrap;
}

.loading_default_img_back{
  background: #ffffff;
  border-radius: 10px;
}


.loading_default_img_logo{
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: relative;
  transition: all 1s;
  /* Устанавливаем точку вращения в центр картинки */
  transform-origin: center;
  /* Запускаем анимацию, задаем продолжительность 4 секунды и делаем её постоянной */
  animation: loading_default_img_logo_rotate_animation 6s cubic-bezier(0, 0, 0.69, 1.33) infinite;
}

.loading_default_img_logo_scale{
  /* Устанавливаем точку вращения в центр картинки */
  transform-origin: center;
  /* Запускаем анимацию, задаем продолжительность 4 секунды и делаем её постоянной */
  animation: loading_default_img_logo_scale_animation 6s linear infinite;
}

/* Определяем анимацию с именем "rotateAnimation" */
@keyframes loading_default_img_logo_rotate_animation {
  /* один оборот вправо */
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(360deg);
  }
  /* один оборот влево */
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Определяем анимацию с именем "rotateAnimation" */
@keyframes loading_default_img_logo_scale_animation {
  /* один оборот вправо */
  0% {
    transform: scale(1);
  }
  12.5% {
    transform: scale(0.75);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }

  62.5% {
    transform: scale(0.75);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}