.block_default{
  padding: 0px 10px;
}

.block_default_title{
  background: rgba(255, 255, 255, 0.5);
  padding: 10px 15px 5px;
  font-weight: bold;
  font-size: 16px;
  color: #333333;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-top: 1px solid #a9a9a9;
  border-left: 1px solid #a9a9a9;
  border-right: 1px solid #a9a9a9;
}

.block_default_title_top{
  background: rgba(255, 255, 255, 0.5);
  padding: 0px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-top: 1px solid #a9a9a9;
  border-left: 1px solid #a9a9a9;
  border-right: 1px solid #a9a9a9;
}

.block_default_html{
  background: rgba(255, 255, 255, 0.5);
  padding: 5px 15px 10px;
  font-size: 16px;
  color: #333333;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  /* border-bottom: 1px solid #a9a9a9; */
  border-left: 1px solid #a9a9a9;
  border-right: 1px solid #a9a9a9;
  box-shadow: 0 3px 0px -2px #a9a9a9;
}

.block_default_html_bottom{
  background: rgba(255, 255, 255, 0.5);
  padding: 0px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  /* border-bottom: 1px solid #a9a9a9; */
  border-left: 1px solid #a9a9a9;
  border-right: 1px solid #a9a9a9;
  box-shadow: 0 3px 0px -2px #a9a9a9;
}
