.text_default_block{
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.text_default{
  border: 1px solid #ccc;
  padding: 7px;
  width: 100%;
  border-radius: 2px;
}

.text_default_padd{
  padding: 15px 7px 4px;
}

.text_default:focus,.text_default:active{
  outline: none;
}

.text_default_label{
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 11px;
  color: #777777;
  transition: all 0.3s;
  font-size: 14px;
}

.text_default_label_focused{
  font-size: 11px!important;
  padding: 1px 6px!important;
}
