.ttotalpage2{
  display: block;
  margin: 0px;
  padding: 0px;
}

.ttotalpage2>a{
  display: inline-block;
  padding: 10px 10px;
  border: 1px solid #cccccc;
  margin-right: 10px;
  color: #333333;
  font-size: 19px;
  text-align: center;
}

.ttotalpage2>a:hover{
  background: rgba(0, 0, 0, 0.06);
}

/* .ttotalpage2>a>div{
  color: #333333;
  font-size: 19px;
  text-align: center;
} */

.ttotalpage2>.ttotalpagesel{
  background: #59b633!important;
  color: #ffffff!important;
}
