.text_dropdown > .dropdown_blocks > .dropdown_block2 > .dropdown_title2{
  padding: 0px!important;
}

.text_dropdown > .dropdown_blocks > .dropdown_block2 > .dropdown_title2 > .text_default{
  border: none!important;
  padding: 7px 12px!important;
  background: transparent!important;
  color: inherit!important;
}

.text_dropdown > .dropdown_blocks > .dropdown_block2 > .dropdown_title2 > .text_default:focus{
  border: none!important;
  outline: none!important;
}
