.show_components_items{
  padding: 20px 10px;
  cursor: pointer;
  border-top: 1px solid #f3f3f3;
}

.show_components_items:nth-child(1){
  border-top: none;
}

.show_components_items:hover{
  background: #fbfbfb;
}

.show_components_title{
  color: #333333;
  font-size: 16px;
}

.show_components_desc{
  color: #999999;
  margin-top: 5px;
  font-size: 14px;
}

.show_components_type{
  font-weight: bold;
  font-size: 12px;
  margin-top: 5px;
  color: #4a7eab;
}

.show_components_edit_field_title{
  display: inline-block;
  font-size: 12px;
  color: #144f82;
  text-decoration: underline;
  cursor: pointer;
}
