.table_default_builder>.table_default_tr>.table_default_td{
  border-bottom: 1px dashed #888888!important;
  border-top: none!important;
}

/* .table_default_builder_td{
display: table-cell;
padding: 12px 10px;
}

.table_default_builder_thead{
  font-weight: bold;
  font-size: 14px;
}

.table_default_builder_thead>.table_default_builder_td{
  border-top: none;
  border-bottom: 1px solid rgba(74, 126, 171, 0.79);
}

.table_default_builder_tbody{
  font-size: 14px;
}

.table_default_builder_tfoot{
  font-size: 14px;
}

.table_default_builder_td_top_cursor_p{
  cursor: pointer;
} */
