.tegs_all{
  margin-top: 10px;
}

.tegs_all_item{
  position: relative;
  display: inline-block;
  background: #ffffff;
  border: 1px solid #a9a9a9;
  border-radius: 10px;
  font-size: 12px;
  cursor: default;
  margin-top: 5px;
  margin-right: 2px;
  padding: 10px 17px 10px 10px;
}

.tegs_all_delete{
  position: absolute;
  display: inline-block;
  top: 2px;
  right: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #8a8a8a;
  cursor: pointer;
}

.get_table_tegs_navigate{
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid #4a7eab;
  border-top: 2px solid #4a7eab;
}
