/* .img_add_photo{
  display: none;
} */

/* .img_field{
  width: 100%;
  max-width: 500px;
  padding-bottom: 10px;
} */

.youtube_field_items{
  position: relative;
  background-position: center center!important;
  background-repeat: no-repeat!important;
  background-size: contain!important;
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 1px solid #ababab;
  display: inline-block;
  background-color: #ffffff!important;
  cursor: move;
}

.youtube_field_items:hover>.del_youtube{
  display: block;
}

.del_youtube{
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
  cursor: pointer;
  padding: 3px;
}

.del_youtube>.fa{
  color: #ff1e1e;
  text-shadow: 1px 1px 0px #ff9f9f, -1px -1px 0px #ff9f9f;
  font-size: 22px;
}
