.files_add_files{
  display: none;
}

.files_field{
  width: 100%;
  max-width: 500px;
  padding-bottom: 10px;
}

.files_field_items{
  display: table;
  position: relative;
  background-position: center center!important;
  background-repeat: no-repeat!important;
  background-size: contain!important;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  border: 1px solid #ababab;
  display: inline-block;
  background-color: #ffffff!important;
  cursor: move;
  overflow: hidden;
}

.del_files{
  display: table-cell;
  position: relative;
  cursor: pointer;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  height: inherit;
  text-align: center;
  vertical-align: top;
  padding-top: 7px;
}

.del_files>.fa{
  color: #ff1e1e;
  text-shadow: 1px 1px 0px #ff9f9f, -1px -1px 0px #ff9f9f;
  font-size: 22px;
}

.edit_files{
  display: table-cell;
  position: relative;
  cursor: pointer;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  height: inherit;
  text-align: center;
  vertical-align: top;
  padding-top: 7px;
}

.edit_files>.fa{
  color: #003f82;
  text-shadow: 1px 1px 0px #f7f7ff, -1px -1px 0px #f7f7ff;
  font-size: 22px;
}

.files_str{
  display: table-cell;
  position: relative;
  width: 100%;
  height: inherit;
  text-align: left;
  vertical-align: middle;
  /* white-space: nowrap; */
}

.files_str_right_padding{
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 50px;
  height: inherit;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 20%, #ffffff 80%);
}
