.lcp_load_photo_area{
  width: 100%;
  height: 100%;
}

.lcp_load_photo_area_img{
  width: 100%;
  height: 100%;
  min-height: 350px;
  background-repeat: no-repeat!important;
  background-position: center center!important;
  background-size: contain!important;
}

.img_add_photo_area{
  display: none;
}
