.tab_default{
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.tab_default_ul{
  width: 100%;
  border-bottom: 2px solid #ccc;
  background: #2196f3;
}

.tab_default_li{
  display: inline-block;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tab_default_li_active{
  background: #ffffff;
  color: #333333;
  border-top: 3px solid #2196f3;
  border-left: 3px solid #2196f3;
  border-right: 3px solid #2196f3;
}
