.dropdown_multi_check_white{
  background: #ffffff!important;
  border-radius: 2px!important;
  border: 1px solid #cccccc!important;
}
.dropdown_multi_check_white>.dropdown_blocks>.dropdown_block2>.dropdown_title2{
  padding: 7px!important;
  color: #333333!important;
  border: none!important;
}
.dropdown_multi_check_white>.dropdown_blocks>.dropdown_block2>.dropdown_down_img>.fa{
  color: #333333!important;
}
.dropdown_multi_check_white>.dropdown_multi_check_list {
  background: #ffffff!important;
  box-shadow: 0 0px 6px 0px #9e9e9e!important;
}
.dropdown_multi_check_white>.dropdown_multi_check_list:focus {
  border: none;
  outline: none;
}
.dropdown_multi_check_white>.dropdown_multi_check_list>.dropdown_multi_check_list_ul>.dropdown_multi_check_option{
  color: #333333!important;
  border-bottom: 1px solid #d2d2d2!important;
}
.dropdown_multi_check_white>.dropdown_multi_check_list>.dropdown_multi_check_list_ul>.dropdown_multi_check_option:hover {
    background: rgba(0, 0, 0, 0.02);
}
