.block_one_line2{
padding: 10px;
}

.block_one_line2>.block_one_line_table{
  display: table;
  width: 100%;
}

.block_one_line2>.block_one_line_table>.block_one_line_td{
  display: table-cell;
  padding: 20px 15px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  border: 1px solid #a9a9a9;
}

.block_one_line2>.block_one_line_table>.block_one_line_td_empty{
  display: table-cell;
  width: 10px;
  min-width: 10px;
}







@media screen and (max-width: 800px) {
  .block_one_line2>.block_one_line_table{
    display: block!important;
    width: 100%!important;
    min-width: 100%!important;
    max-width: 100%!important;
    text-align: left!important;
  }
  .block_one_line2>.block_one_line_table>.block_one_line_td{
    display: block!important;
    width: 100%!important;
    min-width: 100%!important;
    max-width: 100%!important;
    text-align: left!important;
  }
}
