.text_kladr_div{
  position: relative;
}

.text_kladr{
  border: 1px solid #ccc;
  padding: 7px;
  width: 100%;
  border-radius: 2px;
  padding-right: 35px;
}

.text_kladr_div_right{
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 35px;
  height: 37px;
  color: #000;
  z-index: 1;
  cursor: pointer;
}

.text_kladr_div_right > .fa{
  font-size: 19px;
  padding: 9px;
}
