.checked_default_all{
cursor: pointer;
}

.checked_default_div{
  display: inline-block;
  border: 1px solid #4a7eab;
  width: 18px;
  height: 18px;
  overflow: hidden;
  background: #ffffff;
  padding: 1px;
  box-sizing: border-box;
}

.checked_default_div>.fa{
  color: #4a7eab;
  font-size: 14px;
}

.checkbox_default{

}

.checked_default_label{
  display: inline-block;
  color: #4a7eab;
}

.nochecked_default{
  display: none!important;
}
