.lcp_html_parent_article_more_button > .lcp_button_add_art{
  display: inline-block;
  color: #fff;
  background-color: #a01600;
  border-color: #150300;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 7px 12px;
  font-size: 13px;
  line-height: 1.5384616;
  border-radius: 3px;
}

.pl_field_items:hover>.lcp_product_more_block_pl_div>.del_products{
  display: block!important;
}

.del_products{
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
  cursor: pointer;
  padding: 3px;
}

.del_products>.fa{
  color: #ff1e1e;
  text-shadow: 1px 1px 0px #ff9f9f, -1px -1px 0px #ff9f9f;
  font-size: 22px;
}





.lcp_product_more_all{
  display: block;
  width: 100%;
  margin-top: 20px;
}

.lcp_product_more_block{
  display: inline-block;
  width: 150px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 2px;
  cursor: move;
  margin-right: 10px;
}

.lcp_product_more_block_pl_div{
  display: block;
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px;
}

.lcp_product_more_block_pl{
  display: block;
  width: 100%;
  height: 100%;
  background-position: center center!important;
  background-repeat: no-repeat!important;
  background-size: contain!important;
}

.lcp_product_more_block_title{
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  overflow-y: hidden;
  height: 60px;
}
