.lcp_button_white{
  display: inline-block;
  color: #333333!important;
  background-color: #ffffff!important;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 7px 12px;
  font-size: 13px;
  line-height: 1.5384616;
  border-radius: 3px;
  border: 1px solid #cccccc!important;
}
.lcp_button_white:hover{
  color: #333333!important;
  background-color: #fbfbfb!important;
  border: 1px solid #e8e8e8!important;
}
